.swirl {
  background-image: url("../img/galaxy2.jpeg");
  background-position: center;
  color: white;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Metamorphous', cursive;
  border: 10px solid #e52a6f;
}
.panel {
  border: none;
}

.panel-default > .panel-heading {
  background-color: #5f0f4e;
  background-position: top;
  font-family: 'Metamorphous', cursive;
}

.panel-title {
  color: white;
  font-size: 20px;
}

body {
  background-image: url("../img/galaxy1.jpeg");
}

.minky {
  text-align: center;
  height: 420px;
  padding-bottom: 28px;
  background-image: url("../img/ball.jpeg");
  background-position: center;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.jumbotron{
  border-bottom: 20px solid #67aeca;
}

.minky h1 {
  font-family: 'Metamorphous', cursive;
  padding-bottom: 20px;
  font-size: 100px;
  font-weight: bold;
}

.minky h4 {
  padding-bottom: 0px;
  padding-top: 44px;
  padding-left: 98px;
  font-size: 24px;
  color: black;
  max-width: 400px;
  margin: auto;
  font-family: 'Source Sans Pro', sans-serif;
}

label {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

p {
  font-size: 70px;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}
